.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}
#commentText{
    height: 150px;
}

.delete-form {
    float: right;
}
label {
    /* Other styling.. */
    text-align: left;
    clear: both;
    float:left;
    margin-right:15px;
}

